.button {
    -fx-background-image: url("/images/OneWormTile.png");
    -fx-background-radius: 6px;
    -fx-background-size: cover;
    -fx-border-color: #215f1e;
    -fx-border-style: solid;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 6px;
}