#mainContainer {
    -fx-background-image: url("/images/BackgroundImage.png");
}

.button {
    -fx-background-color: none;
}

.inset {
    -fx-box-shadow: inset 0px 0px 15px -2px rgba(0,0,0,0.75);
}

.titles {
    -fx-color: white;
    -fx-margin: 10px;
}

.titles-box {
    -fx-text-align: center;
    -fx-background-color: #457f86;
    -fx-border-radius: 6px 6px 0px 0px;
    -fx-border-style: solid;
    -fx-border-color: #fff;
    -fx-border-width: 2px 2px 0px 2px;
    -fx-color: #fff;
    -fx-font-size: 16px;
}