.player-worms {
    -fx-display: flex;
    -fx-justify-content: center;
    -fx-flex-wrap: wrap;
    -fx-background-color: #457f86;
    -fx-border-radius: 0px 0px 6px 6px;
    -fx-border-style: solid;
    -fx-border-color: #fff;
    -fx-border-width: 0px 2px 2px 2px;
    -fx-min-height: 80px;
    -fx-padding: 5px;
}
